@{
    ViewBag.Title = "Quiz";
}
<div class="container-fluid text-center">
    <h1>Teste o seu conhecimento!</h1>
    <a href="/Quiz"><img src="~/Images/quiz.png" width="200" /></a>
    <h3>Clique no botão para iniciar o teste!</h3>
</div>
